<!DOCTYPE html>
<head>
 <link rel="stylesheet" type= "text/css" href="public/css/navbar.css" >
 <meta charset="UTF-8">
 <title>navbar</title>
 </head>
 <header>
<div class = "footer">
        <footer class = "footer">
        <span id = "footer -name" >Nicole Carlson @2020</span> <a id= "email-link" href = "mailto:ncarlson@mail.sfsu.edu">Contact Owner</a>
        
        </footer>
    </div>

    
</header>
       
       
       
       
       
       
       
       
       
        