 <!DOCTYPE html>
<head>
 <link rel="stylesheet" type= "text/css" href="public/css/navbar.css" >
 <meta charset="UTF-8">
 <title>navbar</title>
 </head>
 <header>

    <div class ="containerNav">
        <nav id = "nav-bar">
        <ul>
        <li><a href="home">home</a></li>
        <li><a href = "login">Login</a></li>
        <li><a href = "Imagepost">ImagePost</a></li>
        <li><a href = "registration">Registration</a></li>
        <li><a href="postimage">PostImage</a></li>
       
        </ul>
   
</nav>
 </div>
</header>