<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type= "text/css" href="public/css/stylehome.css">
    <script defer type= "text/javascript" src="public/js/home.js"></script>
   

</head>
<body>
    <h1 id = "items-count"> There are 50 photo(s) being shown</h1>
    <button id="getphotos" type="button">Get Photos </button>
    <div id = "container">
        <div>
            <img>
            <title>
        </div>

      
    </div>
</body>


</html>
