<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Images</title>
    <link rel="stylesheet" type= "text/css" href="public/css/styleimagepost.css"

</head>
<body>
    <h1> View Images</h1>
    <div class="imagepost">
    <form>
        <label>Post Title: Fake Image</label>
        <br />
        <label> Post Author: Fake Author</label>
        <br />
        <label>Date Created: 10/1/2020</label>
        <br />

        <div class="image">
        <img src= "../images/e4811fcef191a21096477d4daf0c6afd.png" alt="This was a fake image">

    </form>
    </div>
</div>
</body>
</html>