<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type= "text/css" href="public/css/stylelogin.css"
</head>
<body>
    <h1>Login Page</h1>
   
    
        <div class="container"> 
            <div class = "left"></div>
            <div class = "right">
        <div class = "formBox">
        <form>

        <label>Username</label>
        <br />
        <input type=text/>
        <br />
        <label> Password</label>
        <input type = "password">
        <br />
        <button type= "submit">submit</button>
        <button type= "reset" >reset</button>
        </form>
        </div>
        </div>
    
</body>
</html>