<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Images</title>
    <link rel="stylesheet" type= "text/css" href="public/css/stylepostimage.css"

</head>
<body>
    <h1>Post Images</h1>
    <div class="container">
    <div class="postimage">

    <form method="POST" enctype="multipart/form-data" action="/posts/createPost">
        <br />
        <label>Post Title</label>
        <input type=text name="title"/>
        <br />
        <br />
        <label> Post Description</label>
        <input type=text name="description"/>
        <br />
        <br />

        <label> Select an image</label>
        <br />
        <input type=file name="uploadImage">
        <br />
        <br />
        <label>Accept Acceptable Use Policy</label>
        <input type="checkbox">
        <br />
        <a href= "https://acceptableUsePol.com"> Acceptable Use Policy</a>
        <br />
        <br />
        <button type= "submit">Post</button>
    </form>
    </div>
</div>
</body>
</html>