<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type= "text/css" href="public/css/styleregistration.css" >
    <script defer type= "text/javascript" src="public/js/formValidation.js"></script>

</head> 
<body>
    <h1>Register Account</h1>

    <div class="container">
    <div class="left"></div>
    <div class="right">
        <div class= "RegistrationForm">
        <div id="error"></div>
  
    <form id = "form" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
        <p>Username: <input type= "text"required name="username"  /></p>
        <br/>
        <p>Email: <input type="email" required name="email"/></p>
        <br/>
        <p>Password: <input type="text" required name="password"/></p>
        <br/>
        <p> Accept that you are 13+ years of age <input type="checkbox" required= "required"/></p>
        <p>Accept Terms of Service and Privacy Rules <input type= "checkbox" required= "required"/></p>
        <a href= "https://TOSandPrivacy.com"> Terms of Service and Privacy</a>
        <br />
        <p> <input type="submit" value="Submit" name="Submit"/><input type="reset" value= "Reset" name= "Reset"/></p>

       
    </form>
    </div>
</body>
</html>