body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: url(../images/v500-taus-03a-retrofuturismbackground_1.jpg)
    
}

.card{
    display: grid;
    grid-template-rows: auto;
    border: .0625rem solid #cccccc;
    border-radius: .25rem;
    box-shadow: 0 2px 2px #dfdede;
}

.card-image{
    grid-area: 1 / 1 / 2 / 2;
}

div[class=card] > img {
    height: 100%;
    width: 100%;
}

.card-title{
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: .1rem;
    margin-top: 0;
    padding-top: .1rem;
}

.card-body{
    grid-area: 2 / 1 / 3 / 2;
    padding: .75rem;
    background-color: #232f3e;
    border-radius: 0 0 .2rem .2rem;
}

div[class=card-body] > a[class=card-button]{
    text-decoration: none;
}

.card-text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}