h1{
    
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: rgb(178, 178, 248);
    text-align:center;
    padding: 50px 0 20px;
    text-transform: uppercase;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: whitesmoke;
    

}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: url(../images/v500-taus-03a-retrofuturismbackground_1.jpg);
    
   
    
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: whitesmoke;
    
}
.container{
    width: 40%;
    height: 300px;
    background: rgb(235, 230, 230);
    margin: 0 auto;
    border: 2px solid purple;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
    font-family: sans-serif;
    text-align: center;
    

}